
<div class ="destination-wrapper">
  <div class = "destination">
    <h2><strong><%=@country.try(:titleize)%></strong></h2>
    <%if @locations.present?%>
      <ul class="clearfix">
        <%@locations.each do |locations|%>
          <% locations.first(1).each do |location| %>
            <li class="destination col-md-3">
              <a href="/<%=location["Destination"]["CityName"].downcase.gsub(' ','-')%>/<%=location['Destination']['IataCode'].downcase%>" rel="nofollow" target="_blank">
                <div class="destination_thumb">
                  <% if Rails.application.assets.find_asset(location['Destination']['CityId'].downcase).nil? %>
                    <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/default3.jpg">    
                  <% else %>
                    <%= image_tag "#{location['Destination']['CityId'].downcase}.jpg" %>
                  <% end %>  
                  <div class="price-desc"> 
                    <span class="price-tag">From: <%= @symbol %> <%=location["MinPrice"]%></span>
                  </div>
                </div>
                <div class="destination_cta" data-icon="forwardBlue after">
                  <h4><%=location["Destination"]["CityName"]%></h4>
                  <p><%=location["Destination"]["CountryName"]%></p>
                </div>
              </a>
            </li>
          <%end%>
        <%end%>
      </ul>
    <%end%>
  </div>
</div>