<%if @locations.present?%>
  <div class ="destination-wrapper">
    <div class = "destination">
      <h2><strong><%=@country.try(:titleize)%></strong></h2>
      <ul class="clearfix">
        <%@locations.each do |locations|%>
          <% locations.first(1).each do |location| %>
            <li class="destination col-md-3">
              <a data-params="destination=<%=location['Destination']['IataCode']%>" data-remote="true" data-method="post" href="/grid.js" rel="nofollow">
                <div class="destination_thumb">
                  <% if Rails.application.assets.find_asset(location['Destination']['CityId'].downcase).nil? %>
                    <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/default3.jpg">    
                  <% else %>
                    <%= image_tag "#{location['Destination']['CityId'].downcase}.jpg" %>
                  <% end %>  
                  <div class="price-desc"> 
                    <span class="price-tag">From: <%= @symbol %> <%=location["MinPrice"]%></span>
                  </div>
                </div>
                <div class="destination_cta" data-icon="forwardBlue after">
                  <h4><%=location["Destination"]["CityName"]%></h4>
                  <p><%=location["Destination"]["CountryName"]%></p>
                </div>
              </a>
            </li>
          <%end%>
        <%end%>
      </ul>
    </div>
  </div>
<%end%>