<%if @prices.present? and @prices["Legs"].present?%> 
  <div class="row">
    <div class="col-md-12">
      <!-- Custom Tabs -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <%
            mins = @cheap[0]["Duration"]
            hours = mins/60
            mins -= hours*60
          %>
          <%
            minutes = @duration[0]["Duration"]
            hrs = minutes/60
            minutes -= hrs*60
          %>
          <li class="active"><a id ="t1" href="#tab_1" data-toggle="tab">Sort By Price </br>Cheapest <%= @cheap[0]["CurrencyCode"] %><%= @cheap[0]["TotalPrice"] %> (<%= "#{hours}hrs #{mins}"%>)  </a></li>
          <li><a id ="t2" href="#tab_2" data-toggle="tab">Sort By Duration </br> Shortest <%= @duration[0]["CurrencyCode"] %><%= @duration[0]["TotalPrice"] %> (<%= "#{hrs}hrs #{minutes}"%>)</a></li>
          <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <ul class="cheap-prices timeline timeline-inverse">
              <% @cheap.each do |leg| %>
                <li>
                  <div class="timeline-item">
                    <h3 class="timeline-header"><%= leg["Stops"].count == 0 ? "Direct" : "Indirect" %></h3>
                    <div class="timeline-body">
                      <div class="row">
                        <div class="col-md-2">
                          <img src="<%= leg['carrierDetail'][0]['ImageUrl'] %>" />
                        </div>
                        <div class="col-md-2">
                          <h2 data-toggle="popover" title="" data-content="<p><%= leg["Origin"]["Type"] == 'Airport' ? '<span class="glyphicon glyphicon-plane"></span>' : '' %> <%= leg["Origin"]["Name"] %></p>">
                            <%= leg["Origin"]["Code"] %> (<%= DateTime.parse(leg["Departure"]).strftime("%H:%M") %>) 
                          </h2>
                        </div>
                        <%
                          mins = leg["Duration"]
                          hours = mins/60
                          mins -= hours*60
                        %>
                        <div class="col-md-3 text-center">
                          <h2>
                            (<%= "#{hours}hrs #{mins}"%>)
                          </h2>
                          <br/>
                          <p><%= leg["Stops"].count > 0 ? "#{leg["Stops"].count} Stop(s)" : "" %>
                            <% leg["StopPlaces"].each do |s| %>
                              <span data-toggle="popover" title="" data-content="<p><%= s["Type"] == 'Airport' ? '<span class="glyphicon glyphicon-plane"></span>' : '' %> <%= s["Name"] %></p>"> <strong> <%=s["Code"] %> </strong></span>
                            <%end%>
                          </p>
                        </div>
                        <div class="col-md-2">
                           <h2 data-content="<p><%= leg["Destination"]["Type"] == 'Airport' ? '<span class="glyphicon glyphicon-plane"></span>' : '' %> <%= leg["Destination"]["Name"] %></p>">
                            <%= leg["Destination"]["Code"] %> (<%= DateTime.parse(leg["Arrival"]).strftime("%H:%M") %>)
                          </h2>
                        </div>
                        <div class="col-md-3">
                          <h2>
                            <%= leg["CurrencyCode"] %><%= leg["TotalPrice"] %>  
                          </h2>
                          <span> <%= leg["carrierDetail"][0]["Name"] %></span>
                          <br/>
                          <a href="<%= leg["PriceInfo"][0]["DeeplinkUrl"] %>" class="btn btn-success" rel="nofollow">Select <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                      </div>
                    </div>
                    <div class="timeline-footer">
                      <p>Operated By <%= leg["Operators"][0]["Name"] %></p>
                    </div>
                  </div>
                </li>
              <%end%>
            </ul>
            <div class="cheap text-center hidden"></div>
            <div class="cheap-pages text-center"></div>
          </div><!-- /.tab-pane -->
          <div class="tab-pane" id="tab_2">
            <ul class="duration-prices timeline timeline-inverse">
              <% @duration.each do |leg| %>
                <li>
                  <div class="timeline-item">
                    <h3 class="timeline-header"><%= leg["Stops"].count == 0 ? "Direct" : "Indirect" %></h3>
                    <div class="timeline-body">
                      <div class="row">
                        <div class="col-md-2">
                          <img src="<%= leg['carrierDetail'][0]['ImageUrl'] %>" />
                        </div>
                        <div class="col-md-2">
                          <h2 data-content="<p><%= leg["Origin"]["Type"] == 'Airport' ? '<span class="glyphicon glyphicon-plane"></span>' : '' %> <%= leg["Origin"]["Name"] %></p>">
                            <%= leg["Origin"]["Code"] %> (<%= DateTime.parse(leg["Departure"]).strftime("%H:%M") %>) 
                          </h2>
                        </div>
                        <%
                          mins = leg["Duration"]
                          hours = mins/60
                          mins -= hours*60
                        %>
                        <div class="col-md-3 text-center">
                          <h2>
                            (<%= "#{hours}hrs #{mins}"%>)
                          </h2>
                          <br/>
                          <p><%= leg["Stops"].count > 0 ? "#{leg["Stops"].count} Stop(s)" : "" %>
                            <% leg["StopPlaces"].each do |s| %>
                              <span data-toggle="popover" title="" data-content="<p><%= s["Type"] == 'Airport' ? '<span class="glyphicon glyphicon-plane"></span>' : '' %> <%= s["Name"] %></p>"> <strong> <%=s["Code"] %> </strong> </span>
                            <%end%>
                          </p>
                        </div>
                        <div class="col-md-2">
                          <h2 data-content="<p><%= leg["Origin"]["Type"] == 'Airport' ? '<span class="glyphicon glyphicon-plane"></span>' : '' %> <%= leg["Destination"]["Name"] %></p>">
                            <%= leg["Destination"]["Code"] %> (<%= DateTime.parse(leg["Arrival"]).strftime("%H:%M") %>)
                          </h2>
                        </div>
                        <div class="col-md-3">
                          <h2>
                            <%= leg["CurrencyCode"] %><%= leg["TotalPrice"] %>  
                          </h2>
                          <span> <%= leg["carrierDetail"][0]["Name"] %> </span>
                          <br/>
                          <a href="<%= leg["PriceInfo"][0]["DeeplinkUrl"] %>" class="btn btn-success" rel="nofollow">Select <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                      </div>
                    </div>
                    <div class="timeline-footer">
                      <p>Operated By <%= leg["Operators"][0]["Name"] %></p>
                    </div>
                  </div>
                </li>
              <%end%>
            </ul>
            <div class="duration text-center hidden"></div>
            <div class="duration-pages text-center"></div>
          </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
      </div><!-- nav-tabs-custom -->
    </div><!-- /.col -->
  </div>
  <script type="text/javascript">
    
    console.log("hello")
    var update = function(request){
      if (request == "UpdatesPending"){
        $.get( "/refresh.js", function( data ) {}, "json" );
      }
    }
    setInterval(function() {
      var request = <%= raw @prices["Status"].to_json %>
      if(request)
        update(request);
    }, 15000);

    $('.cheap-prices').Paginationwithhashchange2({    

    // default settings
    nextSelector: '.next',
    prevSelector: '.prev',
    counterSelector: '.counter',
    pagingSelector: '.cheap',
    itemsPerPage: 5,
    initialPage: 1

  });

  $('.duration-prices').Paginationwithhashchange2({    

    // default settings
    nextSelector: '.next',
    prevSelector: '.prev',
    counterSelector: '.counter',
    pagingSelector: '.duration',
    itemsPerPage: 5,
    initialPage: 1

  });
  $(".cheap-pages").pagination({
    items: <%= @cheap.present? ? @cheap.count : 0 %>,
    itemsOnPage: 5,
    cssStyle: 'light-theme',
    hrefTextPrefix: '#',
    onPageClick: function(pageNumber, event){
      $(".cheap ."+pageNumber+" a").click();
    }
  });

  $(".duration-pages").pagination({
    items: <%= @duration.present? ? @duration.count : 0 %>,
    itemsOnPage: 5,
    cssStyle: 'light-theme',
    hrefTextPrefix: '#',
    onPageClick: function(pageNumber, event){
      $(".duration ."+pageNumber+" a").click();
    }
  });
  $("h2").popover({
    trigger: 'hover', 
    placement: 'bottom',
    html: true     
  });
  $("span").popover({
    trigger: 'hover', 
    placement: 'bottom',
    html: true     
  });
  </script>
<%else%>
  <ul class="timeline timeline-inverse">
    <li>
      <div class="timeline-item">
        <h3 class="timeline-header">Sorry, No results found</h3>
        <div class="timeline-body">
          Please try again with different locations
        </div>
        <div class="timeline-footer">
          <p></p>
        </div>
      </div>
    </li>
  </ul>
<%end%>
<div class ="europe" id="europe"></div>
<div class ="usa" id="usa"></div>
<div class ="asia" id="asia"></div>
<div class ="africa" id="africa"></div>
<script type="text/javascript">
  $.ajax({
    method: "POST",
    url: "/fetch_loc",
    data: {loc: "europe"},
    success:function(data){
    }
  });
  $.ajax({
    method: "POST",
    url: "/fetch_loc",
    data: {loc: "usa"},
    success:function(data){
    }
  });
  $.ajax({
    method: "POST",
    url: "/fetch_loc",
    data: {loc: "asia"},
    success:function(data){
    }
  });
  $.ajax({
    method: "POST",
    url: "/fetch_loc",
    data: {loc: "africa"},
    success:function(data){
    }
  });
</script>
