<%if @prices.present? and @prices["Legs"].present?%>
  <div class="row">
    <div class="col-md-12">
      <!-- Custom Tabs -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <%
            mins = @cheap[0]["Duration"]
            hours = mins/60
            mins -= hours*60
          %>
          <%
            minutes = @duration[0]["Duration"]
            hrs = minutes/60
            minutes -= hrs*60
          %>
          <li class="active"><a id ="t1" href="#tab_1" data-toggle="tab">Sort By Price </br>Cheapest <%= @cheap[0]["CurrencyCode"] %><%= @cheap[0]["TotalPrice"] %> (<%= "#{hours}hrs #{mins}"%>)  </a></li>
          <li><a id ="t2" href="#tab_2" data-toggle="tab">Sort By Duration </br> Shortest <%= @duration[0]["CurrencyCode"] %><%= @duration[0]["TotalPrice"] %> (<%= "#{hrs}hrs #{minutes}"%>)</a></li>
          <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <% @cheap.each do |leg| %>
              <ul class="timeline timeline-inverse">
                <li>
                  <div class="timeline-item">
                    <h3 class="timeline-header"><%= leg["Stops"].count == 0 ? "Direct" : "Indirect" %></h3>
                    <div class="timeline-body">
                      <div class="row">
                        <div class="col-md-2">
                          <img src="<%= leg['carrierDetail'][0]['ImageUrl'] %>" />
                        </div>
                        <div class="col-md-2">
                          <h2>
                            <%= leg["Origin"]["Code"] %> (<%= DateTime.parse(leg["Departure"]).strftime("%H:%M") %>) 
                          </h2>
                        </div>
                        <%
                          mins = leg["Duration"]
                          hours = mins/60
                          mins -= hours*60
                        %>
                        <div class="col-md-3 text-center">
                          <h2>
                            (<%= "#{hours}hrs #{mins}"%>)
                          </h2>
                        </div>
                        <div class="col-md-2">
                           <h2>
                            <%= leg["Destination"]["Code"] %> (<%= DateTime.parse(leg["Arrival"]).strftime("%H:%M") %>)
                          </h2>
                        </div>
                        <div class="col-md-3">
                           <h2>
                            <%= leg["CurrencyCode"] %><%= leg["TotalPrice"] %>  
                          </h2>
                            <span> <%= leg["carrierDetail"][0]["Name"] %> </span>
                        </div>
                      </div>
                    </div>
                    <div class="timeline-footer">
                      <p>Operated By <%= leg["Operators"][0]["Name"] %></p>
                    </div>
                  </div>
                </li>
              </ul>
            <%end%>
          </div><!-- /.tab-pane -->
          <div class="tab-pane" id="tab_2">
            <% @duration.each do |leg| %>
              <ul class="timeline timeline-inverse">
                <li>
                  <div class="timeline-item">
                    <h3 class="timeline-header"><%= leg["Stops"].count == 0 ? "Direct" : "Indirect" %></h3>
                    <div class="timeline-body">
                      <div class="row">
                        <div class="col-md-2">
                          <img src="<%= leg['carrierDetail'][0]['ImageUrl'] %>" />
                        </div>
                        <div class="col-md-2">
                          <h2>
                            <%= leg["Origin"]["Code"] %> (<%= DateTime.parse(leg["Departure"]).strftime("%H:%M") %>) 
                          </h2>
                        </div>
                        <%
                          mins = leg["Duration"]
                          hours = mins/60
                          mins -= hours*60
                        %>
                        <div class="col-md-3 text-center">
                          <h2>
                            (<%= "#{hours}hrs #{mins}"%>)
                          </h2>
                        </div>
                        <div class="col-md-2">
                           <h2>
                            <%= leg["Destination"]["Code"] %> (<%= DateTime.parse(leg["Arrival"]).strftime("%H:%M") %>)
                          </h2>
                        </div>
                        <div class="col-md-3">
                           <h2>
                            <%= leg["CurrencyCode"] %><%= leg["TotalPrice"] %>  
                          </h2>
                            <span> <%= leg["carrierDetail"][0]["Name"] %> </span>
                        </div>
                      </div>
                    </div>
                    <div class="timeline-footer">
                      <p>Operated By <%= leg["Operators"][0]["Name"] %></p>
                    </div>
                  </div>
                </li>
              </ul>
            <%end%>
          </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
      </div><!-- nav-tabs-custom -->
    </div><!-- /.col -->
    <%= will_paginate @cheap, :class =>"pg-link" %>
  </div>
  <script type="text/javascript">
    var update = function(request){
      if (request == "UpdatesPending"){
        $.get( "/refresh.js", function( data ) {}, "json" );
      }
    }
    setInterval(function() {
      var request = <%= raw @prices["Status"].to_json %>
      if(request)
        update(request);
    }, 10000);
  </script>
<%else%>
  <ul class="timeline timeline-inverse">
    <li>
      <div class="timeline-item">
        <h3 class="timeline-header">Sorry, No results found</h3>
        <div class="timeline-body">
          Please try again with different locations
        </div>
        <div class="timeline-footer">
          <p></p>
        </div>
      </div>
    </li>
  </ul>
<%end%>
<script type="text/javascript">
  var tabName = "tab_1";
  $("#t1").click(function(){
    tabName = "tab_1";
  });
  $("#t2").click(function(){
    tabName = "tab_2";
  })
 $(".pg-link a").on("click", function(e){
    e.preventDefault();
    if($(this).attr("class") == "next_page")
    {
      pageNumber = $(".current").html();
      pageNumber = parseInt(pageNumber);
      pageNumber = pageNumber +1;
    }
    else if($(this).attr("class") == "previous_page" ){
      pageNumber = $(".current").html();
      pageNumber = parseInt(pageNumber);
      pageNumber = pageNumber -1;
    }
    else{
      pageNumber = $(this).html();
    }
    $.ajax({
      type: "POST",
      url: "/custom_pagination",
      data: {page: pageNumber, tab_name: tabName  },
      success : function(data){
      }
    });
  });
</script>