<%= render "shared/form" %>
<div id="showProgress"></div>
<%if @locations.present?%>
  <div class="row">
    <div class="col-md-12">
      <!-- Custom Tabs -->
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <ul class="cheap-prices timeline timeline-inverse">
              <% @locations.each_with_index do |grid, index| %>
                <li>
                  <div class="timeline-item">
                    <h3 class="timeline-header" style="height: 35px;">
                      <span class="col-md-4" style="float:left;"><strong>Departure: </strong><%= Date.parse(grid["OutboundLeg"]["DepartureDate"]).strftime("%Y-%m-%d") %></span> 
                      <span class="col-md-4" ><strong>Airline: </strong><%= grid["CName"].present? ? grid["CName"]["Name"] : "N/A" %></span>
                      <% if grid["InboundLeg"].present? %>
                        <span class="col-md-4" style="float:right;"><strong>Return: </strong><%= Date.parse(grid["InboundLeg"]["DepartureDate"]).strftime("%Y-%m-%d") %></span>
                      <%end%> 
                    </h3>
                    <div class="timeline-body">
                      <div class="row">
                        <div class="col-md-2">
                          <h2 class="text-center"><%= grid["Currencies"].present? ? grid["Currencies"][0]["Symbol"] : "$" %> <%= grid["MinPrice"] %>
                          </h2>
                        </div>
                        <div class="col-md-2">
                          <h2 class="text-center" data-toggle="popover" title="" data-content="<p><%= grid["Origin"]["Type"] == 'Station' ? '<span class="glyphicon glyphicon-plane"></span>' : '' %> <%= grid["Origin"]["Name"] %></p>">
                            <%= grid["Origin"]["IataCode"] %>
                          </h2>
                        </div>
                        <div class="col-md-3 text-center">
                          <h2 class="text-center">(<%= grid['Direct'] == true ? 'Direct' : 'Indirect' %>)</h2>
                        </div>
                        <div class="col-md-2">
                           <h2 class="text-center" data-toggle="popover" title="" data-content="<p><%= grid["Destination"]["Type"] == 'Station' ? '<span class="glyphicon glyphicon-plane"></span>' : '' %> <%= grid["Destination"]["Name"] %></p>">
                            <%= grid["Destination"]["IataCode"] %>
                          </h2>
                        </div>
                        <div class="col-md-3">
                          <h2><a href="/en-US/flights/results?flight[country]=<%= cookies[:country] %>&flight[currency]=<%= cookies[:currency] %>&flight[locale]=en-US&flight[originplace]=<%= grid["Origin"]["IataCode"] %>&flight[destinationplace]=<%= grid["Destination"]["IataCode"] %>&flight[outbounddate]=<%= Date.parse(grid["OutboundLeg"]["DepartureDate"]).strftime("%Y-%m-%d") %>&flight[inbounddate]=<%= Date.parse(grid["InboundLeg"]["DepartureDate"]).strftime("%Y-%m-%d") if grid["InboundLeg"]["DepartureDate"].present? %>&flight[children]=0&flight[infants]=0&flight[cabinclass]=Economy&flight[adults]=1" class="btn btn-success" target="_blank" rel="nofollow">View Details <span class="glyphicon glyphicon-chevron-right"></span></a></h2>
                        </div>
                      </div>
                    </div>
                    <div class="timeline-footer">
                    </div>
                  </div>
                </li>
              <%end%>
            </ul>
            <div class="cheap text-center hidden"></div>
            <div class="cheap-pages text-center"></div>
          </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
      </div><!-- nav-tabs-custom -->
    </div><!-- /.col -->
  </div>
<%else%>
  <ul class="timeline timeline-inverse">
    <li>
      <div class="timeline-item">
        <h3 class="timeline-header">Sorry, No schedule found</h3>
        <div class="timeline-body">
          Please try again later
        </div>
        <div class="timeline-footer">
          <p></p>
        </div>
      </div>
    </li>
  </ul>
<%end%>

<script type="text/javascript">
  console.log(<%= raw @places.to_json %>)
  $(".back").click(function(){
    $(".grids").hide();
    $(".grid").show();
  })
  $("h2").popover({
    trigger: 'hover', 
    placement: 'bottom',
    html: true     
  });
  $("span").popover({
    trigger: 'hover', 
    placement: 'bottom',
    html: true     
  });
</script>

<style type="text/css">
  .flights-content #loader-wrapper{
    background: none !important;
    position: static !important;
  }
  .flights-content #loader-wrapper #loader{
    margin: 0 auto !important;
    left: 0 !important;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('input').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue',
      increaseArea: '20%' // optional
    });

    $('input').on('ifClicked', function(event){
      if (event.target.id == "return"){
        $(".original").show();
        $(".fake").hide();
      }
      else{
        $(".original").hide();
        $(".original input[type='text']").val("");
        $(".fake").show();
      }
    });

    $("#loader-wrapper").hide();
    $(".original").hide()
    
    $('#parsley').parsley();
    $('#parsley_hotel').parsley();
    NProgress.configure({ 
      // showSpinner: false,
      parent: "#showProgress"
       });
    $(".form-horizontal").bind("ajax:send", function(){
      NProgress.inc();
    }).bind("ajax:success", function(){
      NProgress.done();
    }).bind("ajax:error", function(){
      NProgress.done();
    });

    $("#depart").change(function(){
      $(".depart ul").remove();
    });

     $('#from').autocomplete({
      source: '/countries',
      minChars: 2,
      html: true,
      select: function (e, ui) {
        $(".flight_origin").val(ui.item.id)
        // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
      },
      change: function(event,ui){
        $(this).val((ui.item ? ui.item.value : ""));
        $(".flight_origin").val((ui.item ? ui.item.id : ""))
      }
    });

    $('#destination').autocomplete({
      source: '/countries',
      minChars: 2,
      html: true,
      select: function (e, ui) {
        $(".flight_dest").val(ui.item.id)
        // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
      },
      change: function(event,ui){
        $(this).val((ui.item ? ui.item.value : ""));
        $(".flight_dest").val((ui.item ? ui.item.id : ""))
      }
    });

    $('#hoteldestination').autocomplete({
      source: '/countries_hotel',
      minChars: 2,
      html: true,
      select: function (e, ui) {
        $(".hotel_dest").val(ui.item.id)
        // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
      },
      change: function(event,ui){
        $(this).val((ui.item ? ui.item.value : ""));
        $(".hotel_dest").val((ui.item ? ui.item.id : ""))
      }
    });

    $('.input-daterange').datepicker({
      todayBtn: "linked",
      format: 'yyyy-mm-dd',
      startDate: '0d',
      autoclose: true
    });
  })
</script>