<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi,</h1>
    <p>
      Price reduction has been detected in your searched route. <b><%= @object["outbound"]["Origin"]["Name"] %> (<%= @object["outbound"]["Origin"]["Code"]  %>)</b> to <b><%= @object["outbound"]["Destination"]["Name"] %> (<%= @object["outbound"]["Destination"]["Code"]  %>)</b>
    </p>
    <p>Date: <%= Date.today.strftime("%Y-%m-%d") %>  <br/>
       Price: <b> <%= @object["outbound"]["CurrencyCode"] %><%= @object["TotalPrice"] %></b>
    </p>

    <p>For more info please visit <a href="http://www.example.com"> www.example.com </a></p>
    <p>Getting too much emails! <a href="http://www.suavistech.com:3000/unsubscribe?email=<%= @user.email %>"> Unsubscribe </a></p>
  </body>
</html>