<section class="content">
  <div class="row">
    <div class="col-md-12">
      <!-- Horizontal Form -->
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="<%= request.url.include?("hotels") ? '' : 'active' %>"><a data-toggle="tab" href="#flights-tab">Flights</a></li>
          <li class="hotel-li <%= request.url.include?("hotels") ? 'active' : '' %>"><a data-toggle="tab" href="#hotels-tab">Hotels</a></li>
          <li><a href="/getaways" id="hotel-getaway">Get Away</a></li>
        </ul>
        <div class="tab-content">
          <div id="flights-tab" class="tab-pane fade in <%= request.url.include?("hotels") ? '' : 'active' %>">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Flight Search</h3>
                <form action="/en-US/flights/results" method="get" class="form-horizontal" id="parsley">
                  <input type="hidden" name="flight[country]" value="<%= cookies[:country] %>">
                  <input type="hidden" name="flight[currency]" value="<%= cookies[:currency] %>">
                  <input type="hidden" name="flight[locale]" value="en-US">
                  <input type="hidden" name="flight[originplace]" class="flight_origin" value="<%=params[:flight].try(:[],:originplace)%>">
                  <input type="hidden" name="flight[destinationplace]" class="flight_dest" value="<%=params[:flight].try(:[],:destinationplace)%>">
                  <div class="col-md-12">
                    <div class="box-body">
                      <div class="form-group" style="width:10%;float: left;">
                        <label for="oneWay"> One Way </label>
                        <label>
                          <input type="radio" name="return" id="oneWay" class="minimal" checked>
                        </label>
                      </div>
                      <div class="form-group" style="width:10%;float: left;">  
                        <label for="return"> Return </label>
                        <label>
                          <input type="radio" name="return" id="return" class="minimal" <%= 'checked' if params[:return] == 'on' %>>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="from" class="col-sm-2 control-label">From</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="from" data-parsley-error-message="Please insert from location!" placeholder="From" data-parsley-required="true" tabindex="1" value="<%=params[:flight].try(:[],:from)%>" name="flight[from]">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-daterange" id="datepicker" >
                          <label for="depart" class="col-sm-2 control-label">Depart</label>
                          <div class="col-sm-4 depart">
                            <input type="text" class="form-control" id="depart" data-parsley-error-message="Please insert depart date!" data-parsley-required="true" name="flight[outbounddate]" placeholder="Depart" tabindex="3" readonly value="<%=params[:flight].try(:[],:outbounddate)%>" />
                          </div>
                          <label for="return" class="col-sm-2 control-label">Return</label>
                          <div class="col-sm-4 original">
                            <input type="text" class="form-control" readonly name="flight[inbounddate]" tabindex="4" value="<%=params[:flight].try(:[],:inbounddate)%>" />
                          </div>
                        </div>
                          <div class="col-sm-4 fake">
                            <input type="text" class="form-control" name="fake" readonly="readonly" />
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="children" class="col-sm-2 control-label">Children (under 12)</label>
                        <div class="col-sm-4">
                          <!-- <select name="flight[children]" class="form-control" tabindex="7">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                          </select> -->
                          <%= select_tag "flight[children]", options_for_select(0..8,params[:flight].try(:[],:children)), :class => "form-control", :tabindex => "7" %>
                        </div>
                        <label for="infants" class="col-sm-2 control-label">Infants (under 2)</label>
                        <div class="col-sm-4">
                          <!-- <select name="flight[infants]" class="form-control" tabindex="8">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                          </select> -->
                          <%= select_tag "flight[infants]", options_for_select(0..8,params[:flight].try(:[],:infants)), :class => "form-control", :tabindex => "8" %>
                        </div>
                      </div>
                    </div><!-- /.box-body -->
                  </div>
                  <div class="col-md-6">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="destination" class="col-sm-2 control-label">To</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" data-parsley-error-message="Please insert your destination!" id="destination" placeholder="Destination" data-parsley-required="true" tabindex="2" value="<%=params[:flight].try(:[],:to)%>" name="flight[to]">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="cabin" class="col-sm-2 control-label">Cabin Class</label>
                        <div class="col-sm-4">
                          <!-- <select name="flight[cabinclass]" class="form-control" tabindex="5">
                            <option value="Economy">Economy</option>
                            <option value="PremiumEconomy">Premium Economy</option>
                            <option value="Business">Business Class</option>
                            <option value="First">First Class</option>
                          </select> -->
                          <%= select_tag "flight[cabinclass]", options_for_select([ ["Economy","Economy"],["Premium Economy", "PremiumEconomy"],["Business Class","Business"],["First Class","First"]] ,params[:flight].try(:[],:cabinclass) ), :class => "form-control", :tabindex => "5" %>
                        </div>
                        <label for="adults" class="col-sm-2 control-label">Adults (12+ years)</label>
                        <div class="col-sm-4">
                          <!-- <select name="flight[adults]" class="form-control" tabindex="6">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                          </select> -->
                          <%= select_tag "flight[adults]", options_for_select(1..8,params[:flight].try(:[],:adults)), :class => "form-control", :tabindex => "6" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
                  <input type="hidden" name="from_city" class="from_city" />
                  <input type="hidden" name="to_city" class="to_city" />
                  <div class="col-sm-12">
                    <div class="box-footer">
                      <button type="submit" class="form-submit btn btn-info pull-right" tabindex="9">Search Flights</button>
                    </div><!-- /.box-footer -->
                  </div>
                </form>
              </div><!-- /.box-header -->
              <!-- form start -->
            </div><!-- /.box -->
          </div>
          <div id="hotels-tab" class="tab-pane fade in <%= request.url.include?("hotels") ? 'active' : '' %>">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Hotel Search</h3>
                <form action="/en-US/hotels/results" method="get" class="form-horizontal" id="parsley_hotel">
                  <input type="hidden" name="market" value="<%= cookies[:countryCode] %>">
                  <input type="hidden" name="currency" value="<%= cookies[:currency] %>">
                  <input type="hidden" name="locale" value="en-US">
                  <input type="hidden" name="entityId" class="hotel_dest" value="<%=params[:entityId]%>">
                  <div class="col-md-5">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="destination" class="col-sm-3 control-label">Destination</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" data-parsley-error-message="Please insert your destination!" id="hoteldestination" placeholder="Destination" data-parsley-required="true" tabindex="1" name="destination" value="<%=params[:destination]%>">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="box-body">
                      <div class="form-group">
                        <div class="input-daterange" id="checkindate" >
                          <label for="checkin" class="col-sm-2 control-label">Check In</label>
                          <div class="col-sm-4">
                            <input type="text" class="form-control" id="checkin" data-parsley-error-message="Please insert Check in date!" data-parsley-required="true" name="checkindate" placeholder="Check In" tabindex="2" value="<%=params[:checkindate]%>" />
                          </div>
                          <label for="checkout" class="col-sm-2 control-label">Check Out</label>
                          <div class="col-sm-4">
                            <input type="text" class="form-control" name="checkoutdate" tabindex="3" data-parsley-error-message="Please insert Check out date!" data-parsley-required="true" placeholder="Check Out" value="<%= params[:checkoutdate] %>" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>    
                  <div class="col-md-6">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="guests" class="col-sm-2 control-label">Guests</label>
                        <div class="col-sm-4">
                          <!-- <select name="guests" class="form-control" tabindex="4">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </select> -->
                          <%= select_tag "guests", options_for_select(1..10,params[:guests]), :class => "form-control", :tabindex => "4" %>
                        </div>
                        <label for="rooms" class="col-sm-2 control-label">Rooms</label>
                        <div class="col-sm-4">
                          <!-- <select name="rooms" class="form-control" tabindex="5">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select> -->
                          <%= select_tag "rooms", options_for_select(1..5,params[:rooms]), :class => "form-control", :tabindex => "5" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                  <div class="col-sm-12">
                    <div class="box-footer">
                      <button type="submit" class="form-submit btn btn-info pull-right" tabindex="6">Search Hotels</button>
                    </div><!-- /.box-footer -->
                  </div>
                </form>
              </div>
            </div>    
          </div>
          <div id="getaway-tab" class="tab-pane fade in">
          </div>
        </div>
      </div>
    </div><!--/.col (right) -->
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    
    $('input').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue',
      increaseArea: '20%' // optional
    });

    $('input').on('ifClicked', function(event){
      if (event.target.id == "return"){
        $(".original").show();
        $(".fake").hide();
      }
      else{
        $(".original").hide();
        $(".original input[type='text']").val("");
        $(".fake").show();
      }
    });
    <% if params[:return] == 'on' %>
      $(".original").show();
      $(".fake").hide();
    <% else %>
      $(".original").hide();
    <% end %>
    $('#parsley').parsley();
    $('#parsley_hotel').parsley();
    NProgress.configure({ 
      // showSpinner: false,
      parent: "#showProgress"
       });
    $(".form-horizontal").bind("submit", function(){
      NProgress.inc();
    });

    $("#depart").change(function(){
      $(".depart ul").remove();
    });
    $('#from').autocomplete({
      source: '/countries',
      minChars: 2,
      html: true,
      select: function (e, ui) {
        $(".flight_origin").val(ui.item.id)
        // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
      },
      change: function(event,ui){
        $(this).val((ui.item ? ui.item.value : ""));
        $(".flight_origin").val((ui.item ? ui.item.id : ""))
      }
    });

    $('#destination').autocomplete({
      source: '/countries',
      minChars: 2,
      html: true,
      select: function (e, ui) {
        $(".flight_dest").val(ui.item.id)
        // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
      },
      change: function(event,ui){
        $(this).val((ui.item ? ui.item.value : ""));
        $(".flight_dest").val((ui.item ? ui.item.id : ""))
      }
    });

    $('#hoteldestination').autocomplete({
      source: '/countries_hotel',
      minChars: 2,
      html: true,
      select: function (e, ui) {
        $(".hotel_dest").val(ui.item.id)
        // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
      },
      change: function(event,ui){
        $(this).val((ui.item ? ui.item.value : ""));
        $(".hotel_dest").val((ui.item ? ui.item.id : ""))
      }
    });

    $('.input-daterange').datepicker({
      todayBtn: "linked",
      format: 'yyyy-mm-dd',
      startDate: '0d',
      autoclose: true
    });
  });
</script>