<div class ="destination-wrapper">
  <div class = "destination">
    <h2><strong>Find Getaways To These Famous Locations</strong></h2>
    <ul class="clearfix">
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=39828399&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "znza.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Zanzibar</h4>
            <p>Tanzania</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=27539908&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "cpta.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Cape Town</h4>
            <p>South Africa</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=81972878&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "mrua.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Mauritius</h4>
            <p>Mauritius</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=27536215&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "nboa.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Nairobi</h4>
            <p>Kenya</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=27540839&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "dxba.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Dubai</h4>
            <p>United Arab Emirates</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=27546111&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "sins.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Singapore</h4>
            <p>Singapore</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=27543923&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "sins.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Kuala Lampur</h4>
            <p>Malaysia</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=27544008&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "lond.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>London</h4>
            <p>United Kingdom</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=27542903&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "ista.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Isatnbul</h4>
            <p>Turkey</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=27544068&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "mila.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Milan</h4>
            <p>Italy</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=27536561&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "amst.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Amsterdam</h4>
            <p>Netherlands</p>
          </div>
        </a>
      </li>
      <li class="destination col-md-3">
        <a href="/en-US/hotels/results?market=<%= cookies[:countryCode] %>&currency=<%= cookies[:currency] %>&locale=en-US&entityId=27539793&checkindate=<%= date_of_next 'Friday' %>&checkoutdate=<%= date_of_next 'Sunday' %>&guests=2&rooms=1" rel="nofollow" target="_blank">
          <div class="destination_thumb">
            <%= image_tag "rome.jpg" %>
            <div class="price-desc"> 
              <span class="price-tag">Find Getaway</span>
            </div>
          </div>
          <div class="destination_cta" data-icon="forwardBlue after">
            <h4>Rome</h4>
            <p>Italy</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>